[submodule "b0-thirdparty/jsoncpp"]
	path = b0-thirdparty/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
    ignore = all
[submodule "b0-thirdparty/drogon"]
	path = b0-thirdparty/drogon
	url = https://github.com/drogonframework/drogon.git
    ignore = all
[submodule "b0-thirdparty/ptlib"]
	path = b0-thirdparty/ptlib
	url = https://github.com/willamowius/ptlib.git
    ignore = all
[submodule "b0-thirdparty/h323plus"]
	path = b0-thirdparty/h323plus
	url = https://github.com/willamowius/h323plus.git
    ignore = all
[submodule "b0-thirdparty/gnugk"]
	path = b0-thirdparty/gnugk
	url = https://github.com/willamowius/gnugk.git
    ignore = all
